*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; 
}

html {
  box-sizing: border-box;
  font-size: 100%; 
  scroll-behavior: smooth;
}

body {
  font-family: "Nunito", sans-serif;
  color: #333;
  font-weight: 300;
  line-height: 1.6; 
}


.container {
    display: grid;
    width: 72%;
    margin: 2rem auto; 
    grid-template-columns: 1fr;
    grid-template-rows: 300px 1fr 350px /*300px*/ 300px;
    grid-template-areas:
      "header"
      "projects"
     /* "experience" */
      "about"
      "contact";
     
  
}

  .header{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-family: "Arial", sans-serif;
    justify-self: center;
    position: fixed;
    background: whitesmoke;
    padding-bottom: 0.5em;
    width: 72%;
    bottom: 0;
  }
    
  .header a {
      color: grey;
      justify-self: center;
      padding: 5px 0px 5px 0px;
      justify-content: center;
      justify-items: center;
  }
  a.top {
    color: #4D00FF;
  }
  a {
    text-decoration: none;
    
  }

  h1 {
    width: 70vw;
    font-size: 1.5rem;
    margin-top: 50px;
    padding-left: 5vw;
    
  }

  h2 {
    text-align: center;
    
  }

  

.section {
  margin: 1rem;
}

.top {
  margin-top: -32px;
  background-color: aliceblue;
  width: 100%;
  height:auto;
  justify-self: center;
}
  
.cards {
    max-width: 1200px;
    margin:  auto;
    display: grid;
    grid-gap: 2rem;

  }
  .card {
    background-color:rgb(28, 180, 91);
    color: white;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    height: 100%;
    width: 100%;
    margin-right: 10px;
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: auto;
    grid-template-areas:
    "imga texta";
  }

  .card__img {
    
    max-width: 100%;
    height: auto;
    object-fit: contain;
    display: block; 
    
  }

  .card__item--1 {
    
    grid-area: imga;
  }
  .text1 {
    grid-area: texta;
    margin-right: 20px;
    margin-top: 20px;
    margin-left: 20px;
    padding-bottom: 20px;
  }

  @media (max-width: 1100px) {
    .card {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr auto;
      grid-template-areas:
      "imga"
      "texta";

    }
    
    .container {
      grid-template-columns: 1fr;
      grid-template-rows: 300px 1fr 400px /*300px*/ 300px;
      grid-template-areas:
      "header"
      "projects"
     /* "experience" */
      "about"
      "contact";
    }

    .text1 {
      padding-right: 40px;
      margin-left: 40px;
    }
  }
  @media (max-width: 700px) {

    .container {
      width: 85vw;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 300px 1fr 600px /*300px*/ 300px;
      grid-template-areas:
      "header"
      "projects"
     /* "experience" */
      "about"
      "contact";

    }
    h1 {
      font-size: 1.3rem;
    }
    .header {
      width: 85%;
    }
  }
  
/*
.gallery {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(8, 1fr);
  grid-gap: 1.5rem; 
  font-size: 2.2rem;
  text-align: center;
  grid-template-areas:
  "a1 a1 a2 a2 a3 a3 a3 a3"
  "a1 a1 a2 a2 a3 a3 a3 a3"
  "a4 a4 a4 a4 a3 a3 a3 a3"
  "a4 a4 a4 a4 a3 a3 a3 a3"
  "a4 a4 a4 a4 a3 a3 a3 a3"
  "a5 a5 a5 a5 a6 a6 a6 a6"
  "a5 a5 a5 a5 a6 a6 a6 a6"
  "a5 a5 a5 a5 a6 a6 a6 a6"
  "a7 a7 a7 a7 a8 a8 a9 a9"
  "a7 a7 a7 a7 a8 a8 a9 a9"
  "a7 a7 a7 a7 a10 a10 a10 a10"
  "a7 a7 a7 a7 a10 a10 a10 a10"
  "a7 a7 a7 a7 a10 a10 a10 a10"
  "a11 a11 a11 a11 a12 a12 a12 a12"
  "a11 a11 a11 a11 a12 a12 a12 a12"
  "a11 a11 a11 a11 a12 a12 a12 a12";
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block; 
}

.gallery__item--1 {
    grid-area: a1;
}
.gallery__item--2 {
    grid-area: a2;
}
.note1 {
    font-size: calc(1.2rem + 1.2vw);
    grid-area: a3;
    
}
.gallery__item--4 {
    grid-area: a4;
}
.gallery__item--5 {
    grid-area: a5;
}
.gallery__item--6 {
    grid-area: a6;
}

.note2 {
    background-color: rgb(231, 228, 203);
    color: rgb(17, 6, 6);
    font-size: calc(1.2rem + 1.2vw);
    grid-area: a7;
    
}

.gallery__item--8 {
    grid-area: a8;
}
.gallery__item--9 {
    grid-area: a9;
}
.gallery__item--10 {
    grid-area: a10;
}
.gallery__item--11 {
    grid-area: a11;
}
.gallery__item--12 {
    grid-area: a12;
}

